//
// Block editor styles.
//
// @package    Action Hook Block
// @copyright  WebMan Design, Oliver Juhas
//
// @since  1.0.0
//

.wp-block-wmd-action-hook {
	$bg: #3e58e1;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: .25em;
	font-size: 12px;
	line-height: 1.25;
	text-align: center;
	background: $bg;
	border: 1px solid darken( $bg, 10% );
	color: #fff;
	border-radius: 3px;

	p,
	span,
	code {
		margin: .125em .25em;
	}

	p {
		width: 100%;
	}

	code {
		padding: .125em .5em;
		text-transform: none;
		letter-spacing: 0;
		background: rgba( #fff, .2 );
		border-radius: 3px;
	}

	&:not(.has-hook-selected) {
		background: darken( $bg, lightness( $bg ) - 20% );
	}

	&.has-hook-selected > span {
		clip: rect( 1px, 1px, 1px, 1px );
		clip-path: inset( 50% );
		position: absolute !important;
		width: 1px;
		height: 1px;
		line-height: 1px;
		overflow: hidden;
		word-wrap: normal !important;
	}
}
